<section class="c-section o-wrapper">

    <div class="c-about o-pack o-pack--wrap">
        <div class="o-box o-pack__item u-1/1 u-1/2@desktop">
            <h2 class="u-h2">{{ .Site.Data.about.title }}</h2>
            <p>תקשורת מאז ומתמיד הייתה נושא מהותי בחיים שלי. טיפול, כמו הוראה, הוא אחד האמצעים לכך עבורי. אחד שאינו פונה לשכל במילים או בדוגמאות, אלא לשכבות אחרות במבנה הפסיכו-פיזיולוגי שלנו, וכהד חוזר ומשפיע גם על המחשבה והתפישה.</p>
            <p>היו לי הרבה מורים בדרך, וכל אחד לימד אותי משהו - הסקרנות לשאול, הסבלנות להתמיד, העצמאות לחשוב, התעוזה לפעול, הרגישות להבחין, הנדיבות לשתף.</p>
            <p>את הידע המעשי וההשראה קיבלתי ממגוון זרמים - יוגה, שמאניזם, זן בודהיזם, צמחי מרפא, רפואה, פסיכותרפיה, מיתולוגיה, פילוסופיה... כל אחד וכולם יוצרים סינרגיה שאיתה אני ניגש לטיפול.</p>
            <p>והנה אנחנו כאן.</p>
        </div>
        <figure class="o-box o-pack__item u-1/1 u-1/2@desktop">
            <img src="{{ .Site.Data.about.image }}" alt="">
        </figure>
    </div>

</section>
