{{ "<!-- Form section -->" | safeHTML }}
<section id="contact" class="c-hero">

    <div class="c-hero__media" id="google-map">Loading Google map!</div>

    <div class="c-hero__body o-wrapper">

        <div class="c-contact u-1/1 u-1/2@tablet u-1/3@desktop o-box">

            <div class="o-block">
                <h2 class="u-h2 u-margin-bottom--flush">{{ .Site.Data.contact.title }}</h2>
                <p>{{ .Site.Data.contact.description }}</p>
            </div>


            <div class="c-contact__info u-padding-top u-padding-bottom">
                <ul class="o-pack u-list-reset">
                    <li class="o-pack__item">
                        <a target="_blank" href="http://maps.google.com/?q={{ .Site.Data.contact.contactAddress }}">
                            <svg class="c-icon c-icon--ghost u-img--large"><use xlink:href="svg/svg-symbols.svg#location"/></svg>
                            <span class="u-hide-visually">{{ .Site.Data.contact.contactAddress }}</span>
                        </a>
                    </li>
                    <li class="o-pack__item">
                        <a href="tel:{{ .Site.Data.contact.contactMobile }}">
                            <svg class="c-icon c-icon--ghost u-img--large"><use xlink:href="svg/svg-symbols.svg#phone"/></svg>
                            <span class="u-hide-visually">{{ .Site.Data.contact.contactMobile }}</span>
                        </a>
                    </li>
                    <li class="o-pack__item">
                        <a href="mailto:{{ .Site.Data.contact.contactEmail }}">
                            <svg class="c-icon c-icon--ghost u-img--large"><use xlink:href="svg/svg-symbols.svg#envelope"/></svg>
                            <span class="u-hide-visually">{{ .Site.Data.contact.contactEmail }}</span>
                        </a>
                    </li>
                    <li class="o-pack__item">
                        <a target="_blank" href="{{ .Site.Data.contact.contactFacebook }}">
                            <svg class="c-icon c-icon--ghost u-img--large"><use xlink:href="svg/svg-symbols.svg#facebook"/></svg>
                            <span class="u-hide-visually">{{ .Site.Data.contact.contactFacebook }}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="c-contact__form">

                <form class="is-active" id="gform" accept-charset="UTF-8" action="https://script.google.com/macros/s/AKfycbxJiuoH7dIl77XxK1jrjFWjWH71pJD4_-l4q7URKROkWGhrzArw/exec" method="POST">

                    <div class="c-field">
                        <label class="u-hide-visually" for="name">{{ .Site.Data.contact.formName }}</label>
                        <input placeholder="{{ .Site.Data.contact.formName }}" class="c-field__input" type="text" id="name" name="name" required>
                    </div>

                    <div class="c-field">
                        <label class="u-hide-visually" for="email">{{ .Site.Data.contact.formEmail }}</label>
                        <input placeholder="{{ .Site.Data.contact.formEmail }}" class="c-field__input" type="email" id="email" name="email" required>
                    </div>

                    <div class="c-field">
                        <label class="u-hide-visually" for="message">{{ .Site.Data.contact.formMessage }}</label>
                        <textarea placeholder="{{ .Site.Data.contact.formMessage }}" class="c-field__input" type="text" id="message" name="message" required></textarea>
                    </div>

                    <div class="c-field">
                        <button class="o-btn u-color-dark u-1/1" type="submit">{{ .Site.Data.contact.formButton }}</button>
                        <span class="submit-bg"></span>
                    </div>
                </form>

                <div class="u-pos u-pos--center o-block u-1/1" id="thanks">

                    <div class="u-pos u-pos--center">
                        <span class="c-check u-img--round u-img--large u-color-dark">
                            <span class="c-check__check"></span>
                        </span>
                        <h2>{{ .Site.Data.thanks.title }}</h2>
                        <p>{{ .Site.Data.thanks.description }}</p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
