<section class="c-section u-color-contrast">

    <div class="o-wrapper">
        <div class="c-section__header">
            <h2 class="u-h2">{{ .Site.Data.expertise.title }}</h2>
        </div>

        <ul class="c-expertise o-pack o-pack--wrap o-pack--top">
            {{ range .Site.Data.expertise.item }}
            <li class="o-block o-pack__item o-box">
                <div class="o-block__img">
                    <svg class="u-img u-img--huger"><use xlink:href="/svg/svg-symbols.svg#{{ .icon }}"/></svg>
                </div>
                <div class="o-block__content">
                    <h3 class="u-h4">{{ .title }}</h3>
                    <p>{{ .description }}</p>
                </div>
            </li>
            {{ end }}
        </div>
    </div>

</section>
