<header class="o-hero">

    <figure class="o-hero__media" style="background: transparent url('../images/hp-hero.jpg') no-repeat fixed top left / cover;"></figure>

    <div class="o-hero__header u-1/1 u-color-primary">
        {{ partial "nav.html" . }}
    </div>

    <div class="o-hero__body u-color-text-white">

        <div class="o-block">
            <div class="o-headline o-headline--large">
                <h1 class="u-h1 o-headline__title">{{ .Site.Data.header.title }}</h1>
                <h2 class="u-h2 o-headline__subtitle">{{ .Site.Data.header.subtitle }}</h2>
            </div>

            <a data-scroll href="/#contact" class="o-btn u-color-secondary u-1/1">{{ .Site.Data.header.buttonText }}</a>
        </div>

    </div>

</header>
