<header class="c-hero">

    <figure class="c-hero__media" style="background: transparent url('../images/hp-hero.jpg') no-repeat fixed top left / cover;"></figure>

    <div class="c-hero__body o-pack o-pack--center">

        <div class="o-block">
            <div class="o-block__body u-color-text-white">
                <h1 class="u-h1 u-margin-bottom--flush">{{ .Site.Data.header.title }}</h1>
                <h2 class="u-h2 u-margin-bottom--large">{{ .Site.Data.header.subtitle }}</h2>

                <a data-scroll href="/#contact" class="o-btn u-color-secondary u-1/1">{{ .Site.Data.header.buttonText }}</a>
            </div>
        </div>

    </div>

</header>
