<nav class="c-nav o-wrapper">

    <div class="o-pack o-pack--between">

        <div class="c-nav__menu">
            <div class="o-pack">
                {{- $currentPage := . -}}
                {{ range .Site.Menus.main -}}
                <a data-scroll class="c-nav-stroke o-box {{ if $currentPage.IsMenuCurrent "main" . }}is-active{{ end }}" href="{{ .URL | absLangURL }}"><b>{{ .Name }}</b></a>
                {{- end }}
            </div>
        </div>

        <div class="c-nav__logo u-img--larger">
            <a href="/">
                <img src="{{ .Site.Data.header.logo }}" alt="Elad Rom">
            </a>
        </div>

    </div>

</nav>
