{{"<!-- inject:js -->" | safeHTML }}
{{"<!-- endinject -->" | safeHTML }}

{{ template "_internal/google_analytics.html" . }}

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.googleMaps }}&callback=initializeMap" type="text/javascript"></script>

<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>

<script>
    validate.init({
        fieldClass: 'o-field--error',
        errorClass: 'o-field__hint',
        messageValueMissing: 'אנא מלאו את השדה.',
        messageTypeMismatchEmail: 'אנא כתבו כתובת אימייל תקינה.'
    });
</script>

<script>
    astro.init({
        toggleActiveClass: 'is-active',
        navActiveClass: 'is-active',
    });
</script>
