
{{ define "main" }}

<div class="c-blog o-wrapper c-section u-rhythm">

    {{ range .Data.Pages }}
    <article class="o-pack o-pack--wrap o-pack--top">

        <figure class="c-blog__thumb o-pack__item o-ratio">
            <img class="o-ratio__content" src="/images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }}" alt="">
        </figure>

        <div class="o-pack__item--stretch">
            <h2 class="u-margin-bottom--flush"><a class="u-h3" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p>{{ .Summary }}</p>
        </div>

    </article>
    {{ end }}

</div>

{{ end }}
