<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" dir="rtl">
    <head>
        {{ partial "head.html" . }}
        {{ partial "favicons.html" . }}
    </head>
    <body class="u-color-primary c-page">
        <!-- {{ partial "nav.html" . }} -->

        {{ block "header" . }}
            {{ partial "header-inner.html" . }}
        {{ end }}

        <div class="c-page__stretch">
            {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{ end }}
        </div>

        {{ partial "footer.html" . }}
    </body>

    {{ partial "scripts.html" . }}
</html>
