{{ define "main" }}

    <div class="o-wrapper c-section">

        <header class="u-margin-bottom">

            <div><b>{{ .Date.Format "Mon Jan 2, 2006" }}</b></div>
            <div><b>{{ .WordCount }} מילים, כ-{{ .ReadingTime }} דקות קריאה</b></div>

        </header>

        <main class="u-margin-bottom">

            {{ .Content }}

        </main>

        <footer class="meta">

            <div>
                <nav class="u-list-reset">
                    {{ range .Params.topics }}
                    <a href="{{ $baseURL }}/topics/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </nav>

                <nav class="u-list-reset">
                    {{ range .Params.tags }}
                    <a class="o-btn o-btn--ghost o-btn--tiny" href="{{ $baseURL }}/tags/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </nav>
            </div>

            <!-- <div>

                {{ if .Prev }}
                <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a>
                {{ end }}

                {{ if .Next }}
                <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
                {{ end }}

            </div> -->

        </footer>

    </div>
{{ end }}
