{{ define "main" }}

<div class="o-wrapper c-section c-single">

    <header class="u-margin-bottom o-pack o-pack--between o-pack--wrap u-rhythm--small">

        <div>
            <svg class="u-img u-img"><use xlink:href="/svg/svg-symbols.svg#calendar"/></svg>
            <time class="u-padding-right--tiny" datetime="{{ .Date.Format "Mon Jan 2, 2006" | safeHTML }}">
                <b class="day">{{ .Date.Day }} ב{{ index $.Site.Data.months (printf "%d" .Date.Month) }}, {{ .Date.Year }}</b>
            </time>
        </div>
        <div>
            <svg class="u-img u-color-dark"><use xlink:href="/svg/svg-symbols.svg#eye"/></svg>
            <b class="u-padding-right--tiny">{{ .WordCount }} מילים, כ-{{ .ReadingTime }} דקות קריאה</b>
        </div>

    </header>

    <main class="u-margin-bottom">

        {{ .Content }}

    </main>

    <footer class="meta">

        <div>
            <nav class="u-list-reset">
                {{ range .Params.topics }}
                <a href="/topics/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </nav>

            <nav class="u-list-reset">
                {{ range .Params.tags }}
                <a class="o-btn o-btn--ghost o-btn--tiny" href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </nav>
        </div>

        <!-- <div>

            {{ if .Prev }}
            <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a>
            {{ end }}

            {{ if .Next }}
            <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
            {{ end }}

        </div> -->

    </footer>

</div>

{{ end }}
