/* ==========================================================================
   #CONTACT
   ========================================================================== */

/**
 * 1. For adjusting the footer. Bad, I know.
 */

#contact { margin-bottom: -#{$bg-skew-size}; } /* [1] */


/**
 * Contact is a floating box over a google map.
 *
 * 1. Some general styling for the box.
 * 2. Position the box at vertical center.
 */

.c-contact {
  background: rgba($color-white, .8); /* [1] */
  border-radius: $global-radius; /* [1] */
  box-shadow: $global-shadow; /* [1] */

  position: relative; /* [2] */

  @include mq(mobile, tablet) {
    .o-headline__subtitle { display: none; }
  }
}





/* Contact Form
   ========================================================================== */

/**
 * 1. Toggle between hidden/visible for form and thanks message.
 *    I use opacity so nt to lose the overall dimensions and thus
 *    avoid a visual jump when the 2 containers switch.
 */

.c-contact__form {
  position: relative;
  > :not(.is-active) { opacity: 0; } /* [1] */
}
