/* ==========================================================================
   #HERO
   ========================================================================== */

/**
 * 1. Capture the whole screen.
 * 2. Relative container for background location.
 */

.c-hero {
  height: 100vh; /* [1] */
  width: 100%; /* [1] */
  position: relative; /* [2] */
}


/**
 * Inherit size of the parent.
 */

.c-hero__media,
.c-hero__body {
  width: inherit; /* [1] */
  height: inherit; /* [1] */
}


/**
 * 1. Locate hero media all over its parent.
 */

.c-hero__media {
  position: absolute; /* [1] */
  top: 0; /* [1] */
  left: 0; /* [1] */
}


/**
 * 1. Locate hero body above media.
 */

.c-hero__body { position: relative; }





/* Size variants
   ========================================================================== */
.c-hero--half { height: 50vh; }
