/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.c-nav {
  position: fixed;
  z-index: z(modal);
}


/**
 * Magical drawer.
 */

.c-nav__menu {
  @util position(fixed, 0 0 null null);

  align-items: center;
  background: rgba($color-blue-space, .9);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  transform: translateX(100%);
  transition: transform .5s ease;
  width: 300px;
  z-index: z(default);

  .is-active + & { transform: translateX(0); }
}


/**
 * Social links.
 */

.c-nav__social {
  margin-top: auto;
  ul { margin-left: 0; }
}





/* # Nav Desktop Stroke
   ========================================================================== */

.c-nav-stroke {
  position: relative;

  &::before,
  &::after {
    background: currentColor;
    content: '';
    height: 2px;
    opacity: 0;
    transition: all .3s;
    width: 0;
  }


  &::before { @util position(absolute, #{$global-spacing-unit-small} null null 0); }
  &::after { @util position(absolute, null 0 #{$global-spacing-unit-small} null); }


  &:hover::before,
  &:hover::after {
    opacity: 1;
    width: 100%;
  }
}
