/* ==========================================================================
   #SECTION
   ========================================================================== */

.c-section {
    padding-top: $global-spacing-unit-large;
    padding-bottom: $global-spacing-unit-large;

  @include mq(tablet) {
    padding-top: $global-spacing-unit-huge;
    padding-bottom: $global-spacing-unit-huge;
  }
}


/**
 * Section header styling.
 */

.c-section__header {
  text-align: center;
  margin-bottom: $global-spacing-unit-large;
  width: 100%;

  h2 { margin-bottom: 0; }
}
